.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 5px;
}

@media (max-width: $tablet-width) {
    .container {
        max-width: 778px;
    }
}

@media (max-width: $mobile-width) {
    .container {
        max-width: 330px;
    }
}