.banner {
    background: $background-color;
    &__img {
        width: 100%;
        margin-bottom: 66px;
    }
}

@media (max-width: $tablet-width) {
    .banner__img {
        margin-bottom: 56px;
    }
}

@media (max-width: $mobile-width) {
    .banner__img {
        margin-bottom: 38px;
    }
}