.instagram {
    background: #f7f7f7;
    padding-top: 47px;
    padding-bottom: 49px;
    &__head {
        @include flex-sb;
        margin-bottom: 24px;
        a {
            font-weight: 700;
        }
    }
    &__gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    &__img {
        width: 100%;
    }
}

@media (max-width: $tablet-width) {
    .instagram {
        &__head {
            margin-bottom: 35px;
        }
        &__gallery {
            grid-template-columns: repeat(3, 1fr);
            gap: 9px;
        }
        &__item:last-child {
            display: none;
        }
    }
}

@media (max-width: $mobile-width) {
    .instagram {
        background: $background-color;
        padding-top: 38px;
        padding-bottom: 42px;
        &__head {
            @include flex-sb;
            margin-bottom: 13px;
            .h4-title {
                display: none;
            }
        }
        &__gallery {
            grid-template-columns: 1fr;
        }
        &__item {
            display: none;
        }
        &__item:first-child {
            display: block;
        }
        &__img {
            width: 301px;
        }
    }
}