.posts {
    background: $background-color;
    padding-bottom: 69px;
    .h2-title {
        margin-bottom: 24px;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 55px;
    }
    &__item {
        @include flex-sb;
        align-items: flex-start;
    }
    &__img {
        margin-right: 20px;
        width: 160px;
        height: 140px;
    }
    &__title {
        color: $titles-color;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
    }
    &__info {
        color: #7C7C7C;
        font-size: 12px;
        line-height: 1.67;
    }
    &__text {
        padding-top: 13px;
        line-height: 1.85;
    }
}

@media (max-width: $tablet-width) {
    .posts {
        padding-bottom: 60px;
        &__list {
            display: grid;
            grid-template-columns: 556px;
        }
    }
}

@media (max-width: $mobile-width) {
    .posts {
        padding-bottom: 39px;
        .h2-title {
            margin-bottom: 23px;
        }
        &__list {
            grid-template-columns: 320px;
            gap: 28px;
        }
        &__item {
            @include flex-col;
        }
        &__item:last-child {
            display: none;
        }
        &__img {
            margin-bottom: 11px;
        }
        &__title {
            font-size: 14px;
            line-height: 2.14;
        }
        &__info {
            font-size: 11px;
            line-height: 1.82;
        }
        &__text {
            display: none;
        }
    }
}