@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

* {
    color: $text-color;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.h2-title {
    color: $titles-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.37;
    text-transform: uppercase;
    }

.h4-title {
    color: $titles-color;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.69;
    text-transform: uppercase;
    }

@media (max-width: $mobile-width) {
    .h2-title {
        font-size: 14px;
        line-height: 1.57;
        }
}