@mixin flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // justify-content: center;
}