.footer {
    background: #000000;
    padding-top: 66px;
    padding-bottom: 70px;
    .container {
        @include flex-col;
        align-items: center;
    }
    .h2-title {
        color: #FEFEFE;
        margin-bottom: 22px;
    }
    &__text,
    &__contacts span {
        color: #B9B9B9;
        text-align: center;
        font-size: 16px;
        line-height: 1.75;
    }
    &__text {
        max-width: 864px;
        margin-bottom: 37px;
    }
    &__media {
        @include flex-sb;
        width: 192px;
        margin-bottom: 34px;
        &__link {
            @include flex-center;
            width: 34px;
            height: 34px;
            border-radius: 30px;

            &--rss {
                border: 2px solid #F8902E;
            }
            &--facebook {
                border: 2px solid #39599F;
            }
            &--twitter {
                border: 2px solid #45B0E3;
            }
            &--dribbble {
                border: 2px solid #D97AB0;
            }
            &--pinterest {
                border: 2px solid #CC212C;
            }
        }
        &__icon--height-12 {
            height: 12px;
        }
        &__icon--height-10 {
            height: 10px;
        }
    }
}

@media (max-width: $tablet-width) {
    .footer {
        padding-top: 57px;
        padding-bottom: 56px;
        &__text {
            margin-bottom: 37px;
        }
    }
}

@media (max-width: $mobile-width) {
    .footer {
        padding-top: 38px;
        padding-bottom: 47px;
        .h2-title {
            margin-bottom: 8px;
        }
        &__text,
        &__contacts {
            font-size: 12px;
            line-height: 1.666;
        }
        &__text {
            max-width: 303px;
            margin-bottom: 26px;
            &--desctop-visible {
                display: none;
            }
        }
        &__media {
            margin-bottom: 25px;
        }
        &__contacts {
            @include flex-col;
        }
        &__contacts span{
            font-size: 14px;
            font-weight: 400;
            line-height: 1.71;
        }
    }
}