.header {
    background: $background-color;
    padding-top: 45px;
    padding-bottom: 51px;
    .container {
        max-width: 806px;
    }
}
.header-menu {
    &__burger-btn {
        display: none;
    }
    &__list {
        @include flex-sb;
    }
    &__link {
        color: $text-color;
        font-size: 11px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 1.1px;
        text-transform: uppercase;
    }
    &__link--active {
        color: #57A4A4;
    }
}

@media (max-width: $tablet-width) {
    .header {
        padding-top: 41px;
        padding-bottom: 43px;
        .container {
            max-width: 602px;
        }
    }
  }

@media (max-width: $mobile-width) {
    .header {
        padding-top: 45px;
        padding-bottom: 23px;
        .container {
            max-width: 320px;
        }
    }
    .header-menu {
        @include flex-col-right;
        justify-content: center;
        position: relative;

        &__burger-btn {
            @include flex-center;
            cursor: pointer;
            width: 44px;
            height: 37px;
            background: #000000;

            span, 
            span::before,
            span::after {
                height: 2px;
                width: 17px;
                background: #ffffff;
            }
            span {
                position: relative;
            }
            span::before,
            span::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 17px;
                transition: 0.1s;
            }
            span::before {
                top: 4px;
            }
            span::after {
                top: -4px;
            }
        }
        &__burger-btn--on {
            span {
                background: #000000;
            }
            span::before,
            span::after {
                top: 0px;
            }
            span::before {
                transform: rotate(45deg);
            }
            span::after {
                transform: rotate(-45deg);
            }
        }
        &__list {
            @include flex-col-right;
            justify-content: center;
            display: none;
            position: absolute;
            top: 37px;
        }
        &__list--on {
            display: flex;
        }
        &__item {
            background: #f5f5f5;
        }
        &__item:hover {
            background: #e5e5e5;
        }
        &__link {
            @include flex-left;
            padding-left: 12px;
            width: 183px;
            height: 30px;
        }
    }
}